.login-container {
  background-color: rgb(211, 205, 205);
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-container img {
  width: 35%;
}
label.Registro-label {
  font-weight: 600;
  font-size: 1.2rem;
}

input.col-12 {
  height: 20px;
  padding: 0.5rem;
  margin: 0.3rem;
  border-radius: 4px;
  border: 2px solid rgb(53, 50, 50);
}

.MuiButton-outlinedPrimary {
  color: rgb(53, 50, 50) !important;
  border: 2px solid rgb(53, 50, 50) !important;
  margin: 20px !important;
  padding: 0.4rem !important;
}
